img{
    width: 150px;
    height: 150px;
    opacity: 0.5;
}
h3{
    display: inline;
}
.pos-rel{
    position: relative;
}
.h3-abs{
    margin-right: 100px;
    top: 10%;
    position: absolute;
}
.h3-ab{
    position: absolute;

}